@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-base
  }
}

/* MENU */
.submenu-list {
  @apply invisible opacity-0 transition-all duration-300
}

.has-submenu:hover .submenu-list {
  @apply visible opacity-100 top-[calc(100%+1.5rem)]
}


.container-fluid {
  @apply px-3 lg:max-w-[90%] mx-auto lg:w-[1300px]
}


.default-pagination .swiper-pagination {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #303030;
  --swiper-pagination-color: #303030;
  @apply relative bottom-0 mt-6
}

.hero-pagination .swiper-pagination {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #FFFFFF;
  --swiper-pagination-color: #FFFFFF;
  @apply relative bottom-0
}

.line-2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

svg path[data-target] {
  cursor: pointer;
}